<html lang='en'>
<head>
  <meta charset='utf-8'>
  <script src='../static/client.js'></script>
  <link rel="Stylesheet" type="text/css" href="../static/croppie-style.css"></link>
  <link rel='stylesheet' href='../static/style.css'>
  <script src="../static/croppie.js"></script>

<script defer>
      var c; 
      function crop(location) {
      c = new Croppie(document.getElementById('image'),{
          enableExif: true,
          viewport: {
              width: 200,
              height: 200,
              // type: 'circle'
          },
          boundary: {
              width: 250,
              height: 250
          }
      });

c.bind({
    url: location,
    orientation: 1
  });

}
 async function cropSave() { 
   var params = {type: 'base64', size: 'viewport', format: 'jpeg', quality: 1, circle: false }
  return await c.result(params);
 }
      </script>
</head>
<body>
<div>
  <div class='center'>
    <h2 class='title'>Classify your Moles</h2>
    <p>
      
    </p>
    <div class='content'>
      <div class='no-display'>
        <input id='file-input'
               class='no-display'
               type='file'
               name='file'
               accept='image/*'
               onchange='showPicked(this)'>
      </div>
      
      <button class='choose-file-button' type='button' onclick='showPicker()'>Load Image</button>
      <div class='upload-label'>
        <label id='upload-label'>No image chosen</label>
      </div>
      <div id="image"></div>
      <div>
        <img id='image-picked' class='no-display' alt='Chosen Image' height='200'>
      </div>
      <div class='analyze'>
        <button id='analyze-button' class='analyze-button' type='button' onclick='analyze()'>Inspect</button>
      </div>
      <div class='result-label'>
        <label id='result-label' class='no-display'></label>
      </div>
    </div>
  </div>
</div>
</body>
</html>
